{% extends "layout.html" %}

{% block content %}
<div id="map-canvas"></div>

<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-xs-5 panel-group" id="left"> <!--list of places-->
        {% if popular %}
            <div class="row">
                <div class="col-xs-9">
                    <h2>Suggestions according to your stay</h2>
                </div>
                <div class="col-xs-1">
                    <h2><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    <input type="hidden" name="update" /></h2>
                </div>
                <div class="col-xs-1">
                    <h2><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <input type="hidden" name="next" /></h2>
                </div>
            </div>
            <div class="panel-danger" id="panel1">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#left" href="#collapseOne">
                    <h4 class="panel-title">Popular <span class="badge">{{ popular|length }}</span></h4></a>
                </div>
                <!--Displaying the attractions-->
                <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                {% for item in popular %}
                
                    <div class="col-lg-9">
                    <a href="{{ item.venue.url }}"><strong>{{ item.venue.name }}</strong></a>  Rating: <b>{{ item.venue.rating }}</b>
                    <p><b>Location:</b> {{ item.venue.location.address }}<br />
                    {% if item.tips %}
                    <b>Tips:</b><em> {{ item.tip.text }}</em> by {{ item.tip.firstName }}<img class="img-responsive" src="{{ item.tip.userPhoto }}" /></p>
                    {% endif %}
                        <hr />
                    </div>
                    <div class="col-lg-3">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>
                                    <i class="glyphicon glyphicon-thumbs-up" rel="tooltip" title="Like" aria-hidden="true">
                                        <input type="hidden" name="next"  value="up-{{ item.venue.name }}" />
                                    </i>
                                    <i class="glyphicon glyphicon-thumbs-down" rel="tooltip" title="Don't Like" aria-hidden="true">
                                        <input type="hidden" name="next" value="down-{{ item.venue.name }}" />
                                    </i>
                                    
                                </h3>
                            </div>
                            <img src="{{ item.venue.photos.photoBig }}" />
                        </div>
                    </div>
                                  
                {% endfor %}
                    </div>
                </div>   
            </div>
        {% endif %}
        <!--restaurants-->
        {% if restaurant %}
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4>Restaurants</h4>
                </div>
                {% for item in restaurant %}
                <div class="panel-body">
                    <span  id="map-input">{{ item.name }}</span>
                    <p>Neighbourhood: {{ item.post_town }}<br />
                    Website: {{ item.website }}<br />
                    Operating hours: {{ item.hours_display }}</p>
                </div>     
                {% endfor %}
            </div>
        {% endif %}
        <!--To do items-->
        {% if todo %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>To Do</h4>
                </div>
                {% for item in todo %}
                <div class="panel-body">
                    <span  id="map-input">{{ item.name }}</span>
                    <p>Neighbourhood: {{ item.post_town }}<br />
                    Website: {{ item.website }}<br />
                    Operating hours: {{ item.hours_display }}</p>
                </div>     
                {% endfor %}
            </div>
        {% endif %}
        {# if (!popular) and (!restaurant) and (!todo) #}
            <!--div class="row">
                <div class="col-xs-9">
                    <h2>No suggestion found</h2>
                </div>
                <div class="col-xs-1">
                    <h2><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    <input type="hidden" name="update" /></h2>
                </div>
                <div class="col-xs-1">
                    <h2><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <input type="hidden" name="next" /></h2>
                </div>
            </div-->
        {# endif #}
        </div>
        <div class="col-xs-7"><!--canvas location--></div>
    </div>
</div>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
<script type="text/javascript">
    /* google maps */
    google.maps.visualRefresh = true;

    var map;
    function initialize() {
        var geocoder = new google.maps.Geocoder();
        var address = $('#map-input').text(); /* change the map-input to your address */
        var mapOptions = {
            zoom: 14,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            scrollwheel: false
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        /*if (geocoder) {
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {*/
        map.setCenter({lat: 51.500152,lng: -0.126236});

                        /*var infowindow = new google.maps.InfoWindow(
                            {
                                content: address,
                                map: map,
                                position: results[0].geometry.location,
                            });*/
        {% if popular %}
        {% for item in popular %}
        {% if item.venue.location.lat %}
        var marker = new google.maps.Marker({
            position: {lat: {{ item.venue.location.lat }},lng: {{ item.venue.location.lng }}},
            map: map,
            title: "{{ item.name }}",
        });
        {% endif %}
        {% endfor %}
        {% endif %}

        {% if restaurant %}
        {% for item in restaurant %}
        {% if item.latitude %}
        var marker = new google.maps.Marker({
            position: {lat: {{ item.latitude }},lng: {{ item.longitude }}},
            map: map,
            title: "{{ item.name }}",
            icon: "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"
        });
        {% endif %}
        {% endfor %}
        {% endif %}

        {% if todo %}
        {% for item in todo %}
        {% if item.latitude %}        
        var marker = new google.maps.Marker({
            position: {lat: {{ item.latitude }},lng: {{ item.longitude }}},
            map: map,
            title: "{{ item.name }}",
            icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
        {% endif %}
        {% endfor %}
        {% endif %}
                 /*   } else {
                        alert("No results found");
                    }
                }
            });
        }*/
    }
    google.maps.event.addDomListener(window, 'load', initialize);

    /* end google maps */
</script>
{% endblock %}


