body {
    height:100%; 
    background:transparent;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left:0; /*SLL 08022015- added*/
    padding-right: 0; /*SLL 08022015- added*/
    -webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.carousel img {
    left: 0;
    min-height: 400px;
    position: relative;
    top: 0;
}

.container .credit {
    margin: 20px 0;
}

.divider {
    height: 50px;
}

#nav {
    width: 100%;
    position: static;
    top: -32px;
}

    #nav.affix {
        position: fixed;
        top: 0;
        z-index: 10;
        -webkit-transition: all .6s ease-in-out;
    }

.scroll-top {
    position: fixed;
    bottom: 0;
    right: 6%;
    z-index: 100;
    background: #f2f3f2;
    font-size: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

    .scroll-top a:link, .scroll-top a:visited {
        color: #222;
    }

section {
    color: #ffffff;
    min-height: 400px;
    height: auto !important;
    height: 100%;
    padding-top: 100px;
}

.bg-1 {
    background: url('../images/london-1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-2 {
    background: url('../images/london-2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-3 {
    background: url('http://www.bootply.com/assets/example/bg_blueplane.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-4 {
    padding-top: 30px;
    background-color: #e6e6e6;
}

/* Mobile */
@media (max-width: 767px) {
    .slider-size {
        height: auto;
        width: 800px;
    }

        .slider-size > img {
            width: 80%;
        }
}

/* tablets */
@media (max-width: 991px) and (min-width: 768px) {
    .slider-size {
        height: auto;
        width: 1000px;
    }

        .slider-size > img {
            width: 80%;
        }
}

/* laptops */
@media (max-width: 1023px) and (min-width: 992px) {
    .slider-size {
        height: auto;
    }

        .slider-size > img {
            width: 100%;
        }
}

/* desktops */
@media (min-width: 1024px) {
    .slider-size {
        height: auto;
    }

        .slider-size > img {
            width: 100%;
        }
}


.bs-glyphicons li {
    font-size: 12px;
    width: 12.5%;
}

.bs-glyphicons li {
    background-color: #f9f9f9;
    border: 1px solid #fff;
    float: left;
    font-size: 10px;
    height: 115px;
    line-height: 1.4;
    padding: 10px;
    text-align: center;
    width: 25%;
}

.bs-glyphicons {
    margin: 0 -10px 20px;
    overflow: hidden;
}

.bs-glyphicons-list {
    list-style: outside none none;
}

.bs-glyphicons .glyphicon {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}

.bs-glyphicons li:hover {
    background-color: #563d7c;
    color: #fff;
}

@media (min-width: 768px) {
    .bs-glyphicons {
        margin-left: 0;
        margin-right: 0;
    }

        .bs-glyphicons li {
            font-size: 12px;
            width: 12.5%;
        }
}

.carousel-caption-top {
    position: absolute;
    right: 15%;
    top: 40%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

    .carousel-caption .btn {
        text-shadow: none;
    }

#map-canvas {
  	width: 60%; 
  	height: 90%;
	margin: 0;
    right: 0;
    position: absolute;
}

#main, #main>.row {
	height:90%;
}

#left {
	height: 90%;
    width: 40%;
    /*margin: 0;*/
    padding-right:0;
    padding-left:0;
    overflow-y:scroll;
    position: fixed;
}

footer {
    background-color: #F3F3F3;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 5%;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}