{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Well, PlanForMe</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/site.css' %}" />
    <script src="{% static 'assets/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'assets/scripts/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
</head>

<body onload="initialize()">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Well,PlanForMe</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Start Here</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <!--li><a href="{% url 'contact' %}">Customer Service</a></li-->
                </ul>
                <!--form class="navbar-form navbar-nav" name="placeform" action="/locations/search" method="post">{% csrf_token %}
                    <div id="locationField" class="form-group" style="display:inline">
                        <input class="form-control" id="autocomplete" type="text" size="50" placeholder="Search for a place" onfocus="geolocate()" />
                        <input type="hidden" name="searchgeoloc" id="geolocation" />
                        <input type="hidden" name="searchplace" id="places" />
                    </div>
                </form-->
                <ul class="nav navbar-nav navbar-right">
                    {% include 'app/loginpartial.html' %}
                </ul>
            </div>            
        </div>
    </div>

    <!--div class="container"-->
{% block content %}{% endblock %}
        <!--/div-->
        <hr/>
        <footer class="text-center">
            <p>&copy; {{ year }} - Well,PlanForMe</p>
        </footer>
    

    <script src="{% static 'assets/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'assets/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'assets/scripts/respond.js' %}"></script>
    <script src="{% static 'assets/scripts/google.places.js' %}"></script>


{% block scripts %}{% endblock %}

</body>
</html>
