{% extends "layout.html" %}
{% load static from staticfiles %}

{% block content %}
<!--
<div class="jumbotron">
    <h1>Well, PlanForMe</h1>
    <p class="lead">
        Well, PlanForMe is a free virtual travel itinerary planner, which will provide personalised itinerary
        which will save you from spending hours to plan your trip. So, sit back and relax, we will plan for you.</p>
    <p><a href="/trips/create" class="btn btn-primary btn-large">Plan for Me &raquo;</a></p>
</!--div>
-->

<div id="carousel-main" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-main" data-slide-to="1"></li>
  </ol>
 

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
        <div class="slider-size">
            <img src="{% static 'assets/images/london-eye.jpg' %}" class="img-responsive" style="width:100%">
        </div>
        <div class="container">
        <div class="carousel-caption-top">
          <h1 class="center-block">Discover London</h1>
            <p><a class="btn btn-primary btn-lg" href="/#section1">Plan For Me</a></p>
        </div>
        </div>
    </div>
    <div class="item">
        <div class="slider-size">
          <img src="{% static 'assets/images/ldn-canal.jpg' %}" class="img-responsive" style="width:100%">
        </div>
        <div class="container center-block">
      <div class="carousel-caption">
          <h1 class="center-block">Plan without stress</h1>
          <p><a class="btn btn-primary btn-lg" href="/#section1">Plan For Me</a></p>
      </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-main" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-main" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->

<!-- Begin to collect data -->
<form class="form-inline" role="form" action="/locations/search" method="post">{% csrf_token %} 
<!-- Begin page content -->
<div class="divider" id="section1"></div>

<div class="container">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="page-header text-center">
            <h2>Arrival and Departure Date</h2>
        </div>
        <p class="lead text-center">
            To have a precise planning for you, please advise your arrival date and departure date in London
            <fieldset>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="dtp_input1" class="control-label">Arrival</label>
                    <div class="input-group date form_datetime "  data-date-format="dd MM yyyy HH:ii p" data-link-field="dtp_input1">
                        <input class="form-control" type="text" name="dtp_input1" placeholder="Arrival Datetime">
					    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="dtp_input2" class="control-label">Departure</label>
                    <div class="input-group date form_datetime" data-date-format="dd MM yyyy HH:ii p" data-link-field="dtp_input2">
                        <input class="form-control" type="text" name="dtp_input2" placeholder="Departure Datetime">
					    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
            </fieldset>
       </p> 
        <div class="text-center"><a class="btn btn-primary btn-lg" href="/#section2">Set Preferences</a></div>
    <hr />
    </div>
        <div class="divider"></div>
    
</div>

<div class="divider"></div>

<section class="bg-1">
    <div class="col-sm-6 col-sm-offset-3 text-center"></div>
</section>

<div class="divider" id="section2"></div>

<div class="container">
    <div class="col-sm-10 col-sm-offset-1">
        <h2 class="page-header text-center">Preferences</h2>
        <p class="lead text-center">
            Please provide your preferences for us to create personalised itinerary for you
        </p>
        <div class="bs-glyphicons">
            <ul class="bs-glyphicons-list">
                <li>
                    <span class="icon-large icon-camera" aria-hidden="true"></span>
                    <span class="glyphicon-class">Vintage Point</span>
                    <input type="checkbox" name="vintage_point" />
                </li>
                <li>
                    <span class="icon-large icon-thumbs-up" aria-hidden="true"></span>
                    <span class="glyphicon-class">Popular</span>
                    <input type="checkbox" name="popular" />
                </li>
                <li>
                    <span class="icon-large icon-bank" aria-hidden="true"></span>
                    <span class="glyphicon-class">Museum</span>
                    <input type="checkbox" name="museum" />
                </li>
                <li>
                    <span class="icon-large icon-cutlery" aria-hidden="true"></span>
                    <span class="glyphicon-class">Restaurant</span>
                    <input type="checkbox" name="restaurant"  />
                </li>
                <li>
                    <span class="icon-large icon-tree-deciduous" aria-hidden="true"></span>
                    <span class="glyphicon-class">Park</span>
                    <input type="checkbox" name="park" />
                </li>
                <li>
                    <span class="icon-large icon-girl" aria-hidden="true"></span>
                    <span class="glyphicon-class">Kids friendly</span>
                    <input type="checkbox" name="kids" />
                </li>
                <li>
                    <span class="icon-large icon-gift" aria-hidden="true"></span>
                    <span class="glyphicon-class">Shopping</span>
                    <input type="checkbox" name="shopping" />
                </li>
                <li>
                    <span class="icon-large icon-beer" aria-hidden="true"></span>
                    <span class="glyphicon-class">Local Pubs</span>
                    <input type="checkbox" name="pub" />
                </li>
                <li>
                    <span class="icon-large icon-coffe-cup" aria-hidden="true"></span>
                    <span class="glyphicon-class">Cafe</span>
                    <input type="checkbox" name="cafe" />
                </li>
                <li>
                    <span class="icon-large icon-group" aria-hidden="true"></span>
                    <span class="glyphicon-class">Group travel</span>
                    <input type="checkbox" name="group" />
                </li>
                <li>
                    <span class="icon-large icon-fast-food" aria-hidden="true"></span>
                    <span class="glyphicon-class">Quick bite</span>
                    <input type="checkbox" name="fast_food" />
                </li>
                <li>
                    <span class="icon-large icon-bp" aria-hidden="true"></span>
                    <span class="glyphicon-class">Special Deal</span>
                    <input type="checkbox" name="deak" />
                </li>
                <li>
                    <span class="icon-large icon-magic" aria-hidden="true"></span>
                    <span class="glyphicon-class">Something Special</span>
                    <input type="checkbox" name="special" />
                </li>
             </ul>
        </div>
        </p>
        <div class="text-center">
            <label for="email_address">Email address: </label>
            <input class="input-lg" type="email" name="email_address" placeholder="Your email address"/>
        </div>
        <div class="divider"></div>
        <div class="text-center">
            <input type="submit" class="btn btn-primary btn-lg" value="Plan for me the itinerary" />
        </div>
        <hr />
        <div class="divider"></div>
    </div>
</div>
</form>

<div class="divider"></div>

<section class="bg-2">
    <div class="col-sm-6 col-sm-offset-3 text-center">
        <!--h2 class="" style="padding:20px;background-color:rgba(5,5,5,.8)">Clients &amp; Partners</h2-->
    </div>
</section>

<div class="divider" id="section3"></div>

<div class="container">
    <div class="col-sm-10 col-sm-offset-1">
        <h2  class="page-header text-center">Link with us</h2>
            <ul class="bs-glyphicons-list">
                <li>
                    <span class="icon-large icon-facebook" aria-hidden="true"></span>
                </li>
            </ul>
    </div>

</div>

<ul class="nav pull-right scroll-top">
    <li><a class="" href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a>
    </li>
</ul>
{% endblock %}
            