{% extends "layout.html" %}
{% load static from staticfiles %}

{% block content %}
<!--
<div class="jumbotron">
    <h1>Well, PlanForMe</h1>
    <p class="lead">
        Well, PlanForMe is a free virtual travel itinerary planner, which will provide personalised itinerary
        which will save you from spending hours to plan your trip. So, sit back and relax, we will plan for you.</p>
    <p><a href="/trips/create" class="btn btn-primary btn-large">Plan for Me &raquo;</a></p>
</!--div>
-->

<div id="carousel-main" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-main" data-slide-to="1"></li>
  </ol>
 

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
        <div class="slider-size">
            <img src="{% static 'assets/images/london-eye.jpg' %}" class="img-responsive" style="width:100%">
        </div>
        <div class="container">
        <div class="carousel-caption">
          <h1 class="center-block">London</h1>
            <p><a class="btn btn-primary btn-lg" href="/#section1">Plan For Me</a></p>
        </div>
        </div>
    </div>
    <div class="item">
        <div class="slider-size">
          <img src="{% static 'assets/images/ldn-canal.jpg' %}" class="img-responsive" style="width:100%">
        </div>
        <div class="container center-block">
      <div class="carousel-caption">
          <h1 class="center-block">Plan for London</h1>
          <p><a class="btn btn-primary btn-lg" href="/#section1">Plan For Me</a></p>
      </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-main" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-main" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->

<!-- Begin page content -->
<div class="divider" id="section1"></div>

<div class="container">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="page-header text-center">
            <h2>How to use it</h2>
        </div>
        <p class="lead text-center">
            Well, PlanForMe provides simple instructions on how to make the service works better for you. Please 
            follow the easy steps to maximise your service.
        </p>        
    <hr />

    <div class="divider"></div>
    </div>
</div>

<div class="divider"></div>

<section class="bg-1">
    <div class="col-sm-6 col-sm-offset-3 text-center"></div>
</section>

<div class="divider" id="section2"></div>

<div class="container">
    <div class="col-sm-10 col-sm-offset-1">
        <h2>Safe time to plan a trip</h2>
        <p>
            With the integration of multiple sources online, we will be able to generate proposed itinerary plan according to your preference.
            You just need to pack and ready for the trip.
        </p>
        <hr />
        <div class="divider"></div>
    </div>
</div>

<div class="divider"></div>

<section class="bg-2">
    <div class="col-sm-6 col-sm-offset-3 text-center">
        <!--h2 class="" style="padding:20px;background-color:rgba(5,5,5,.8)">Clients &amp; Partners</h2-->
    </div>
</section>

<div class="divider" id="section3"></div>

<div class="container">
    <div class="col-sm-10 col-sm-offset-1">
        <h2>Personalised trip</h2>
        <p>
            May be you love food, may be you love visiting museum, we are here to plan you the trip uniquely for you. 
        </p>
    </div>

</div>

<ul class="nav pull-right scroll-top">
    <li><a class="" href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a>
    </li>
</ul>
{% endblock %}
            