{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Well, PlanForMe</h1>
    <p class="lead">
        Well, PlanForMe is a free virtual travel itinerary planner, which will provide personalised itinerary
        which will save you from spending hours to plan your trip. So, sit back and relax, we will plan for you.</p>
    <p><a href="/" class="btn btn-primary btn-large">Plan for Me &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How to use it</h2>
        <p>
            Well, PlanForMe provides simple instructions on how to make the service works better for you. Please 
            follow the easy steps to maximise your service.
        </p>
        <!--<p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Safe time to plan a trip</h2>
        <p>
            With the integration of multiple sources online, we will be able to generate proposed itinerary plan according to your preference.
            You just need to pack and ready for the trip.
        </p>
        <!--<p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Personalised trip</h2>
        <p>
            May be you love food, may be you love visiting museum, we are here to plan you the trip uniquely for you. 
        </p>
        <!--<p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>-->
    </div>
</div>

{% endblock %}
