{% if user.is_authenticated %}

    
    <!--ul class="nav navbar-nav navbar-right"-->
        <li><a class="navbar-brand" href="/user/profile">Hello {{ user.first_name }}!</a></li>
        <li>
            <form id="logoutForm" action="/logout" method="post"  >{% csrf_token %}</form>
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            
        </li>
    <!--ul-->

{% else %}

<!--ul class="nav navbar-nav navbar-right"-->
    <li><a href="{% url 'account_login' %}"></i>Log in</a></li>
<!--ul-->

{% endif %}
